body{
    font-family: Bahnschrift !important;
    /*background-image: url("../images/fondo.jpg") !important;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    background-color: #020f3c !important;

}
.fondoClubes{
    background-image: url("../../images/fondos/fondo.jpg") !important;
    background-repeat: no-repeat;
}
#menuPerfil{
    color: white !important;
    transition: all 300ms;
}
#menuPerfil:hover{
    background-color: #212529 !important;
}
h1{
    font-family: Bahnschrift !important;
}
.table td{
    vertical-align: middle !important;
}
.table th{
    vertical-align: middle !important;
}
tr:hover{
    background-color: #000619 !important;
}
.tamanioFotoClubTabla{
    width: 50% !important;
}
.fuenteTitulo{
    color: white;
}
.fuenteBlanca{
    color: white !important;
    font-size: 80%;
}
.backGroundCabeceras{
    background-color: #3d4762;
    border-radius: 5%;
}
.fuenteOscura{
    color: #020f3c !important;
    font-size: 100%;
}
.colorHueco{
    background-color: #020f3c !important;
}
.colorHueco3{
    background-color: rgba(0,233,255,0.9)!important;
    border: 1px solid black;
}
.colorHueco2{
    background-color: rgba(255,255,255,0)!important;
}
.margenesJugador{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.margenesEquipo{
    margin-top: 55px !important;
    margin-bottom: 50px !important;
}
.margenesJugador2{
    margin-top: 3.5rem !important;
}
.margenesEquipo2{
    margin-top: 4rem !important;
}
.margenOrdenacion{
    margin: 4.5rem !important;
}
.estiloNombreUsu{
    list-style: none;
    margin-right: 4%;
    width: 115px !important;
}
.tamanioMovil1{
    width: 135px !important;
}
.estilosHrAdministration{
    background-color: white;
}
.estilosCajaEquipoMatches{
    transition: all 300ms;
}

.estilosCajaEquipoMatches:hover{
    opacity: 1;
}
.overflowPers{
    overflow: hidden;
}
.estilosCajaEquipoMatches{
    position: relative;
    opacity: 0.3;
    margin-top: 15%;
    margin-bottom: 15%;
    height: 300px;
    animation: desplazamiento 2.5s linear;
    /*background-image: url('../../public/images/fondos/matches-madrid.jpg') !important;background-repeat: no-repeat;
    background-size: 100% 100%;*/
}
.estilosImagenEquipoMatchesMadrid{
    border: 5px solid white;
}
.estilosImagenEquipoMatchesBarcelona{
    border: 5px solid #7f1f2b;
}

.inpJug {
    color:white !important;
}
.inpJug::placeholder {
    color:white !important;
}
.inpJug::-webkit-input-placeholder {
    color: white !important;
}
.inpJug::-moz-placeholder {
    color: white !important;
}
.inpJug:-ms-input-placeholder {
    color: white !important;
}
.inpJug:-moz-placeholder {
    color: white !important;
}

.estilosHrMatches{
    margin-top: 70%;
    height: 10px;
    width: 50px;
    color: white;
    background-color: white;
}

.fuenteNumerosMatches{
    font-size: 45px;
}
.cajaJugadores{
    overflow-y: scroll;
    border: 2px solid #17a2b8;
    border-radius: 12px;
    height: 580px;
}
.cajaInfoTeam{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}
.cajaMatchesInfo{
    overflow-y: scroll;
    height: 470px;
    border: 2px solid #17a2b8;
    border-radius: 20px;
}
.cajaMatchesInfo::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cajaMatchesInfo::-webkit-scrollbar:vertical {
    width:10px;
}

.cajaMatchesInfo::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}

.cajaMatchesInfo::-webkit-scrollbar-thumb {
    background-color: #17a2b8;
    border-radius: 20px;
    border: 2px solid white;
}

.cajaMatchesInfo::-webkit-scrollbar-track {
    border-radius: 10px;
}


.cajaJugadores::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cajaJugadores::-webkit-scrollbar:vertical {
    width:10px;
    overflow: hidden;
}

.cajaJugadores::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}

.cajaJugadores::-webkit-scrollbar-thumb {
    background-color: #17a2b8;
    border-radius: 20px;
    border: 2px solid white;
}

.cajaJugadores::-webkit-scrollbar-track {
    border-radius: 10px;
}

.colorNavLink{
    color: white !important;
}
.colorNavLink:hover{
    border-radius: 20px;
    background-color: #020f3c !important;
}
.espaciado3{
    padding-left: 15px !important;
}
.poderesRole{
    position: relative;
    animation: desplazamiento 1.5s ease-out;

}
.poderesRole2{
    position: relative;
    animation: desplazamiento 2s ease-out;
}
.poderesRole3{
    position: relative;
    animation: desplazamiento 2.5s ease-out;
}
.poderesRole4{
    position: relative;
    animation: desplazamiento 3s ease-out;
}
.poderesRole5{
    position: relative;
    animation: desplazamiento 3.5s ease-out;
}
.borderAdministration{
    border-radius: 10px;
    border: 2px solid transparent !important;
}
.borderAdministration:hover{
    transition-duration: 0.3s;
    border: 2px solid #17a2b8 !important;
}
.borderAdministrationButton{
    border-radius: 10px;
    border: 2px solid transparent !important;
}
.borderAdministrationButton:hover{
    border: 2px solid white !important;
}
.estilosFormFiltrarJugador{
    padding-left: 0%;
    padding-right: 34%;
}
.textAreaInfoClub{
    height: 100px;
    overflow: auto;
}
.heightMinimoColumnasJugadoresShowTeam{
    min-height: 209px !important;
}
.contNoticia{
    border: 1px solid aqua;

}
.contNoticia:hover{
    transition: all 200ms;
    border: 5px solid aqua;
}
.otherNotice{
    border-radius: 10px;
    border: 2px solid transparent !important;
    transition: all 200ms;
}
.otherNotice:hover{
    border-radius: 10px;
    border: 2px solid aqua !important;
    color: aqua;
}
.otherNotice .h6stylo:hover{
    color: aqua;
}
.margenCP{
    margin-bottom: 8% !important;
}
.margenCP2{
    margin-bottom: 10% !important;
}
.margenCP3{
    margin-top: 10% !important;
}
.alturaPerson{
    margin-top: 5% !important;
}
.anchuraMinima{
    /*min-width: 200px !important;*/
}
.colorFuenteWebInfo1{
    color: aqua;
}
.colorFuenteWebInfo2{
    color: white;
}
/*ANIMACIONES*/

@keyframes desplazamiento {
    /*from {left: 400px;}
    to {left: 0px;}*/
    0% {left: 400px;}
    50% {left: 0px;}
    60% {left:15px;}
    100% {left:0px;}
}
.animacionNoticias{
    position: relative;
    animation: desplazamientoNoticias 1.5s ease-out;

}
.animacionTW{
    animation: opacidadTW 2s linear;
}

@keyframes opacidadTW {
    from {opacity: 0;}
    to {opacity: 1;}

}

@keyframes desplazamientoNoticias {
    from {right: 400px;}
    to {right: 0px;}

}
.margenCajaPartidos34{
    margin-bottom: 11% !important;

}
/*ESTILOS MENU DESPLEGABLE*/
ul.acorh * {
    margin: 0;
    padding: 0;
    border: 0;
}
ul.acorh {
    margin: 10px auto;
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 18px;
}
ul.acorh li {
    list-style: none;
}
ul.acorh li a {
    display: block;
    padding: 10px 10px 10px 20px;
    background: #17a2b8;
    color: white;
    border-bottom: 1px solid #000;
    border-top: 1px solid #666;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px !important;
    margin-top: 1px !important;
}
ul.acorh li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: 700ms all ease-in;
}
ul.acorh li li a {
    padding: 10px 10px 10px 40px;
    background: gray;
    color: black;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
ul.acorc li li:last-child a {
    border-bottom: 0;
}
ul.acorh li:hover ul {
    max-height: 300px;
    transition: 700ms all ease-in;
    margin-right: 20px !important;
}
ul.acorh li a:hover {
    background: white;
    color: black;
    transition: 700ms all ease-in;
    margin-left: 10px !important;
}
ul.acorh li:active ul{
    max-height: 300px;
    transition: 900ms all ease-in;
    margin-right: 20px !important;

}
ul.acorh li a:active {
    background: white;
    color: black;
    transition: 700ms all ease-in;
    margin-left: 10px !important;
}
/*FOOTER*/
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #002147;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer h4 {
    color: white;
    font-size: 2em;
    font-weight: 600;
    line-height: 38px;
    padding: 40px 0 10px;
    font-family: cursive;
    font-weight: lighter
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0px;
    color: #7F8C8D;
    padding: 0 0 8px 0;
}

.email{
    border-bottom: 3px solid #fff;
}
.footer ul li a {
    padding: 0 0 12px 0;
    display: block;
}
.footer a {
    color: white;
    font-weight: lighter;
}

.footer p {
    color: white;
    font-weight: lighter;
    font-size: 20%;
}

.footer a:hover {
    text-decoration:none;
    font-weight: bold;
    color: aqua;
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.bg-gray {
    /*background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);*/

    box-shadow: 0 1px 0 #B4B3B3;
}


.footer a {
    color: #78828D
}

.footer-bottom {
    margin-top: 2em;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
    font-size: 0.75em
}




/*@MEDIAS*/
@media (max-width: 1999px) and (min-width: 822px) {
    .anchuraMinima{
    }
}
@media (max-width: 768px) {
    .ocultamiento{
        display: none;
    }
}
@media (min-width: 1640px) {
    .margenCajaAdministration{
        margin-bottom: 16% !important;
    }
}
@media (max-width: 1640px) and (min-width: 1200px) {
    .margenCajaAdministration{
        margin-bottom: 12% !important;
    }
}

@media (min-width: 1640px) {
    .margenCajaPartidos34{
        margin-bottom: 19.5% !important;
    }
}

@media (min-width: 1640px) {
    .margenCP{
        margin-bottom: 8% !important;
    }
}
@media (min-width: 1640px) {
    .margenCP4{
        margin-bottom: 5% !important;
        margin-top: 5% !important;
    }

}

@media (max-width: 1200px) and (min-width: 992px) {
    .margenesJugador{
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    .margenesEquipo{
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }

}
@media (max-width: 991px) and (min-width: 768px) {
    .row{
        flex-wrap: wrap !important;
    }
    .margenesJugador{
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .margenesEquipo{
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .margenesJugador2{
        margin-top: 40px !important;
        margin-bottom: 50px !important;
    }
    .margenesEquipo2{
        margin-top: 40px !important;
        margin-bottom: 50px !important;
    }

}
@media (max-width: 768px){
    .alturaPerson {
        margin-top: 1% !important;
    }
    .heightMinimoColumnasJugadoresShowTeam{
        min-height: 45px !important;
    }
    .margenesJugador2{
        margin-top: 2% !important;
        margin-bottom: 2% !important;
    }
    .margenesEquipo2{
        margin-top: 2% !important;
        margin-bottom: 2% !important;
    }
}
@media (max-width: 1200px) and (min-width: 992px){
    .heightMinimoColumnasJugadoresShowTeam {
        min-height: 5px !important;
    }
}
@media (max-width: 991px) and (min-width: 769px){
    .heightMinimoColumnasJugadoresShowTeam {
        min-height: 5px !important;
    }
}
@media (max-width: 991px) and (min-width: 768px){
     .prueba {
        flex-wrap: wrap !important;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .prueba2 {
        flex-wrap: wrap !important;
    }
}
@media (max-width: 767px) {
    .cajaJugadores{
        overflow-y: scroll;
        border: 1px solid white;
        height: 400px;
    }
    .margenesJugador{
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .margenesEquipo{
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}
@media (max-width: 991px){
    .tamanioMovil1{
        width: 100px !important;
    }
}
@media (max-width: 1236px) and (min-width:992px){
    .espaciado1{
        padding-top: 9px !important;
    }
}
@media (max-width: 991px){
    .espaciado2{
        min-width: 20px !important;
    }
}